---
const { img, category, title, price } = Astro.props
---

<div class="product-card-container">
  <img class="product-image" src={img} alt={title} />
  <div class="product-info">
    <h4 class="product-category">{category}</h4>
    <h3 class="product-title">{title}</h3>
    <p class="product-price">{price}</p>
  </div>
</div>

<style>
  .product-card-container {
    display: flex;
    flex-direction: column;
    gap: 12px;
    max-width: 280px;

    & .product-image {
      width: 100%;
      object-fit: cover;
      aspect-ratio: 1;
      border-radius: 16px;
    }

    & .product-info {
      display: flex;
      flex-direction: column;
      gap: 6px;
      line-height: 1.2;

      & .product-category {
        font-weight: 300;
        text-transform: uppercase;
        font-size: 14px;
        color: var(--text-secondary);
      }

      & .product-title {
        font-size: 16px;
        font-weight: 600;
        color: var(--text-primary);
      }

      & .product-price {
        font-weight: 700;
        font-size: 18px;
        color: var(--primary);
      }
    }
  }

  /* Tablet */
  @media (width >= 768px) {
    .product-card-container {
      gap: 14px;
      max-width: 320px;
      
      & .product-image {
        border-radius: 18px;
      }
      
      & .product-info {
        gap: 7px;
        
        & .product-category {
          font-size: 16px;
        }
        
        & .product-title {
          font-size: 18px;
        }
        
        & .product-price {
          font-size: 20px;
        }
      }
    }
  }

  /* Desktop */
  @media (width >= 1024px) {
    .product-card-container {
      gap: 16px;
      max-width: 350px;
      
      & .product-image {
        border-radius: 20px;
      }
      
      & .product-info {
        gap: 8px;
        
        & .product-category {
          font-size: 18px;
        }
        
        & .product-title {
          font-size: 20px;
        }
        
        & .product-price {
          font-size: 24px;
        }
      }
    }
  }
</style>
